body {

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; */

  padding: none;
  margin:none;
  width: 100%;
}

.dark {

  background-color: #18191A;
}
