.privacyContainer {

    /* border: 10px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.privacyContainer span {

    /* border: 1px solid black; */
    width: 30%;

    display: flex;
    justify-content: left;
    margin: 10px;
}
.privacyContainer label {

    font-size: 17px;
    font-weight: 400;
}

#privacySubmit {

    background-color: black;
    color: white;
    width: 80px;
    height: 45px;
    margin-top: 20px;
}

.none {

    display: none;
}