.Course {

    width: 150px;
    height: 150px;

    border-radius: 50%; 
    margin:50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.Course p{

    font-size: 20px;
    
}

.Course#blue {

  
  
    border:10px solid #076AE1;
 
}

.Course#red {

    border:10px solid #E84E36;
}

.Course#yellow {

 
    border:10px solid #F5F410;
}

.Course#green {

    border:10px solid #77BC3F;
}