.FooterContainerLight {

width: 100%;
height: 40px;

color: #16406D;
background-color: white;

display: flex;
justify-content: center;
align-items: center;
}

.FooterContainerDark {

width: 100%;
height: 40px;

color: white;
background-color: #18191A;

display: flex;
justify-content: center;
align-items: center;
}
