.cssEditorContainerLight {

    border: 1px solid black;
    width: 33.3%;
    height: 99%;
    resize: horizontal;
}
.cssEditorContainerDark {

    border: 1px solid white;
    width: 33.3%;
    height: 99%;
    resize: horizontal;
    background-color: black;
    color: white;
}