body {

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; */

  padding: none;
  margin:none;
}

#video {
  width: 100vw;
  height: 99vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
#Light {

  position: fixed;
  left: 82%;
  bottom: 30px;

  background-color: #16406D;
    width:100px;
    height: 60px;
    color:white;
    border:1px solid #16406D;
    transition:0.2s ease-in ;
    cursor: pointer;

    text-align: center;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
}
#Dark {

  position: fixed;
  left: 82%;
  bottom: 30px;

    background-color: #18191A;
    width:100px;
    height: 60px;
    color:white;
    border:none;
    transition:0.2s ease-in ;
    cursor: pointer;

    text-align: center;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;

}
#Dark:hover{

  background-color: #303031;
  border:1px solid white;

}
.appHeaderLight {

  width: 100%;
  height: 80px;

  background-color: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border: 1px solid black; */
}
.appHeaderDark{

  width:100%;
  height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #18191A;
}
.logo {

 padding: 20px;
 
}
.logo img.Dark {

  width: 450px;
  height: 60px;
   margin-left: 150px;
  margin-right: 120px;
  border-radius: 30px;
  padding:5px;

  
  border:1px solid white;
 background-color:  #18191A;

  display: flex;
  justify-content: center;
  margin-top: none;
  object-fit: cover;
 
}
.logo img.Light {

  width: 450px;
  height: 60px;
   margin-left: 150px;
  margin-right: 120px;
  border-radius: 30px;
  padding:5px;

  
  border:1px solid #16406D;;
 background-color:  white;

  display: flex;
  justify-content: center;
  margin-top: none;
  object-fit: cover;
 
}
.buttonLight {

  width:150px;
  height: 60px; 
  transition:0.2s ease-in ;
  margin:10px;
   color:white;
  background-color: #16406D;
  border:1px solid #16406D;


  text-align: center;
  font-size: large;
  cursor: pointer;
  border-radius: 10px;
}
.buttonDark {

  text-align: center;
  font-size: large;
  cursor: pointer;
  border-radius: 20px;

  width:150px;
  height: 60px;
  transition:0.2s ease-in ;
  margin:10px;

  color: white;
  background-color: #18191A;
  border:1px solid white;
  border: none;

}
.buttonDark:hover {


  color:white;
  background-color: #303031;
  border:1px solid white;

  ;
}
.buttonLight:hover {

  background-color: white;
  color: #16406D;
  
}

